@tailwind base;
@tailwind components;
@tailwind utilities;
/* Dark moving background animation */
.bg-dark-moving-bg {
  background: linear-gradient(120deg, #1a1a1d, #121212, #222);
  background-size: 200% 200%;
  animation: darkMove 10s ease infinite;
}

@keyframes darkMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-gif {
  background: url("../../images//purple-aesthetic-rain.gif") no-repeat center
    center fixed;
  background-size: cover;
}

@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
